<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>
				<table class="table">
					<tbody>
						<tr>
							<th><%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></th>
						</tr>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.introduction %></th>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<% if @user.id == current_user.id %>
					<%= link_to "", edit_user_path(@user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
					<% end %>
				</div>
				<h2>New book</h2>


				<%= form_for(@book) do |b|  %>
				<div class="field row">
					<label>Title</label><br>
					<%= b.text_field :title, class:"col-xs-12" %>
				</div>
				<div class="field row">
					<label>Opinion</label>
					<%= b.text_area :body, class:"col-xs-12" %>
				</div><br>
				<div class="actions row">
					<%= b.submit "Create Book", class:"btn btn-primary col-xs-12 " %>
					<!-- 新規投稿フォーム -->
				</div>
				<% end %>
			</div>


			<div class="col-xs-9">
				<h2>Users</h2>
				<table class="table">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
						<tr>
							<td><%= attachment_image_tag user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %></td>
							<td><%= user.name %></td>
							<td><%= link_to " Show", user_path(user.id) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>

				</div>
			</div>
		</div>