<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>
				<table class="table">
					<tbody>
						<tr>
							<th><%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></th>
						</tr>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.introduction %></th>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<% if @user.id == current_user.id %>
					<%= link_to "", edit_user_path(@user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
					<% end %>
				</div>
				<h2>New Book</h2>


				<%= form_for(@book) do |b|  %>
				<div class="field row">
					<label>Title</label><br>
					<%= b.text_field :title, class:"col-xs-12" %>
				</div>
				<div class="field row">
					<label>Opinion</label>
					<%= b.text_area :body, class:"col-xs-12" %>
				</div><br>
				<div class="actions row">
					<%= b.submit "Create Book", class:"btn btn-primary col-xs-12 " %>
					<!-- 新規投稿フォーム -->
				</div>
				<% end %>
			</div>


		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td><%= attachment_image_tag book.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %></td>
						<td><%= link_to book_path(book.id) do %>
								<%= book.title %>
							<% end %></td>
						<td><%= book.body %></td>
					</tr>
						<% end %>
				</tbody>
			</table>

		</div>
	</div>
</div>