<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>
				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
							<th>yuto tanigawa</th>
						</tr>
						<tr>
							<th>introduction</th>
							<th>konnnitiwa</th>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<%= link_to "", root_path, class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
				</div>
				<h2>New Book</h2>


				<%= form_for(@book) do |b|  %>
				<div class="field row">
					<label>Title</label><br>
					<%= b.text_field :title, class:"col-xs-12" %>
				</div>
				<div class="field row">
					<label>Opinion</label>
					<%= b.text_area :body, class:"col-xs-12" %>
				</div><br>
				<div class="actions row">
					<%= b.submit "Create Book", class:"btn btn-primary col-xs-12 " %>
					<!-- 新規投稿フォーム -->
				</div>
				<% end %>
			</div>


		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr>
						<td>画像</td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<% if @book.user == current_user %>
							<td>
							<%= link_to "Edit", edit_book_path(@book), class:"btn btn-success" %>
							</td>
							<td>
							<%= link_to "Destroy", book_path(@book), method: :delete,"data-confirm" => "本当に消しますか？", class:"btn btn-danger" %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>